{% extends 'base.html' %}
{% block content %}

<h2 style="font-family: Impact; letter-spacing: 3px;">Forums</h2>
<p align = "right">
    <button style = "background-color: gray;"> 
        <a href = "{% url 'newforum' %}" style = "color: white;">New Forum</a>
    </button>
</p>



<ul>
    {% for f in forum_list %}
        <li style="list-style-type: none; border-bottom: solid; border-width: 1px; padding-bottom: 15px;">
            <a href = "{% url 'fdetail' id=f.id %}" ><h4>{{f.topic}}</h4></a>
            <small>{{f.userID}}  {{f.date_created}}</small>
            <br/>    
            {{f.description}}
        </li>
    {% endfor %}
</ul>

{% endblock %}