{% extends 'base.html' %}
{% block content %}

<h2 style="font-family: Impact; letter-spacing: 3px;">{{review.revTitle}}</h2>

    {% if review.rating == 0 %}
        <p>&#9734 &#9734 &#9734 &#9734 &#9734</p>
    {% elif review.rating == 1 %}
         <p>&#9733 &#9734 &#9734 &#9734 &#9734</p>
    {% elif review.rating == 2 %}
        <p>&#9733 &#9733 &#9734 &#9734 &#9734</p>
    {% elif review.rating == 3 %}
        <p>&#9733 &#9733 &#9733 &#9734 &#9734</p>
    {% elif review.rating == 4 %}
        <p>&#9733 &#9733 &#9733 &#9733 &#9734</p>
    {% else %}
        <p>&#9733 &#9733 &#9733 &#9733 &#9733</p>
    {% endif %}
    <small>Posted by {{review.userID}} on {{review.datePosted}}</small>
    <br>
    Description : {{review.revText}}

</p>


{% endblock %}