<!DOCTYPE html>
<html>
    <head>
        <title>Audio Space</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
         
    </head>
    <body>
        <div class='jumbotron' style="min-height: 300px; background-image: url(https://themlc.com/sites/default/files/2020-09/How%20it%20works-1.jpg); background-size: 100%; 
        font-family: Impact; letter-spacing: 6px; color: white; text-indent: 30px; padding: 100px 0">
            <h1>Audio Space</h1>
        </div>
        <nav class="navbar navbar-default">
                <div class="container-fluid">
                <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">Audio Space</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href = "{% url 'reviews' %}" >Reviews</a></li>
                    <li><a href = "{% url 'forums' %}" >Forums</a></li>
               
                </ul>
                </div>
                </nav>
        <div class="container-fluid">
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>